.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

app-table {
  width: 100%;
  margin: 0 10% 0 10%;
}

.header {
  text-align: center;
  margin-top: 3%;
}
