<ng-container *ngIf="!!tableElement">
  <div class="search-container">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

  </div>

  <div class="mat-elevation-z8 table-container">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="margin-right-32">Title</mat-header-cell>
        <mat-cell  class="margin-right-32" *matCellDef="let row">
          <span class="mobile-label">Title</span>
          {{row.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="place">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Place</mat-header-cell>
        <mat-cell class="margin-right-32" *matCellDef="let row">
          <span class="mobile-label">
        Place
        </span>
          {{row.place}}%
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Time</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">
            Time
          </span>
          {{row.time|date:'short'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="detail">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Details</mat-header-cell>
        <mat-cell *matCellDef="let row">
           <span class="mobile-label">
         Details
          </span>
          <a href="{{row.url}}">Details</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mag">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Mag</mat-header-cell>
        <mat-cell [style.color]="getColor(row.mag)" *matCellDef="let row">
          <span class="mobile-label">
            Mag
          </span>
          {{row.mag}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status" class=" ">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">
            Status
          </span>
          {{row.status}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tsunami">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tsunami</mat-header-cell>
        <mat-cell *matCellDef="let row">
        <span class="mobile-label">
        Tsunami
          </span>
          {{row.tsunami}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">
        Type
          </span>
          {{row.type}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]"></mat-paginator>
  </div>
</ng-container>
